[Unit]
Description=apparatus web application
After=network.target

[Service]
EnvironmentFile=/opt/apparatus/apparatus.env
User=apparatus
WorkingDirectory=/opt/apparatus
ExecStart=/opt/apparatus/venv/bin/waitress-serve --threads=2 apparatus:app
Restart=always

[Install]
WantedBy=multi-user.target
